<h1>hello, honey!</h1>

<% @apples.map do |apple| %>

<div class="apples-index">
  <table>
    <tr>
      <td>
        <%= apple.yums.to_i %>
        <%= button_to "yum", apple_yum_path(:id => apple.id) %>
        <%= apple.type %>
        <%= apple.yucks.to_i %>
        <%= button_to "yuck", apple_yuck_path(:id => apple.id) %>
      </td>
    </tr>
  </table>
</div>
<% end %>

<div class="new-apple">
  <%= form_for Apple.new do |f| %>
    <%= f.text_field :type %><br>
  <%= f.submit "add a new apple" %>
</div>
<% end %>