<!DOCTYPE html>
<html>
<head>
  <title>Honeycrisp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- // <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
</head>

<body>
  <div class="page-header">
    <h1><small style="color:black">you like apples?</small></br><%= link_to "how 'bout them apples?", root_path %></h1>
  </div>

<%= yield %>
<!--
  <div class="footer">
    <p>made by lauren</p>
  </div> -->

</body>
</html>
